@import url('https://fonts.googleapis.com/css?family=Muli:100,300,400,500,700,800,900');
body{
  font-family: 'Muli', sans-serif;
}
i{
  font-size: 30px ;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.form-control {
  border-radius: 0px;
  height: calc(4rem + 2px);
}
.form-control-message{
  border-radius: 0px;
  height: calc(8rem + 2px);

  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #eeeeee;
  text-align: left;
  border: 0px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.form-control-nav {
  border-radius: 0px;
  height: calc(2.5rem + 2px);
  font-weight: 100 !important;
  font-size: 15px;
  font-family: "Muli" !important;
  color: #d4d1d1 !important;
  padding-left: 30px;
}
.low-opacity{
  opacity:0.5;
}
.icon-title{
  font-weight:100;
  font-size:40px;
}
.icon-xs{
  font-weight:100;
  font-size:25px;
  color: #32acba;
}
.icon-xs-black{
  font-weight:100;
  font-size:20px;
}
.icon-lg{
  font-size:45px;
  font-weight:100;
}
.icon-xl{
  font-size:50px;
    font-weight:100;
}
.icon-blue{
    color: #32acba;
    font-weight:100;
}
.btn-search{
  background-color: #74d0c5;
  border-radius: 0px;
  color: white;
}
.btn-map{

  border-width: 2.22px;
  border-style: solid;
  border-radius: 10px;
  border-color: #32acba;
  color:#32acba !important;
  font-size: 15px;


}
 .button-search{
  font-weight: 100 !important;
  border: none;
  background-color: #eeeeee;
  width:40px;
}
.fa {
  font-weight: thin !important;
  border: none;
  color: #9e9e9e;
}
/*  ---navBar----*/
.nav-font{
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  font-size:1.5em;
}
.active{
  font-weight: 600;
}
.gwlogo {
  font-size: 45px;
  font-family: "Muli";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.283;
  font-weight: 900;
}
.images{
  display: inline !important;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    padding: 15px 10px;
    background: #eeeeee;
    border: none;
    border-radius: 8px;
    margin-bottom: 40px;
}
.nav-title{
  font-size:1.3em;
  font-family: "Muli";
  color: rgb(127, 127, 127);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
i,
span {
    display: inline-block;
}
/* main navbar */

@media (max-width: 991.98px){
 .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow-y: hidden;

}
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    background: #eeeeee;
    color: #fff;
    transition: all 0.3s;
    display: relative;

}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
}


#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
  color:#010002;
  padding-left: 2px;
  padding-top: 45px;
  font-size: 1.3em;
    text-align: center;
    font-size: 0.85em;
}
#sidebar.active ul li a span{
    display: none;
}
#sidebar.active ul li a  {
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
    margin-left:20px;
}
#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #eeeeee;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}
#sidebar ul.components {
    padding: 100px 0;
}
#sidebar ul li a {
    font-family: 'Muli', sans-serif;
    color:#010002;
    font-weight: 500;
    line-height: 0px;
    padding: 45px;
    font-size: 1.3em;
    display: block;
}
#sidebar ul li a:hover {
    color: #76beb5;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
      color:#32acba;
    background: #eeeeee;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #eeeeee;
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #eeeeee;
}
a.article,
a.article:hover {
    background: #eeeeee !important;
    color: #fff !important;
}

.nav-square.active{
  border:1px solid ;
  height:100%;
  width:350px !important;
  border-color: rgb(215, 215, 215) !important;
}
.nav-square{
  display: table;
    transition: all 0.3s;
  border:1px solid ;
  height:100%;
  width:80px;
  border-color: rgb(215, 215, 215) !important;
}
.square {
  width: 100%;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
        display:none;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

}
/* --Find A Doctor --*/
#fadoct{
}
.fadoct{
  background-color: none !important;
}
.Fdoc-title{
  font-size:4em;
  font-weight: 900;
}
/* --- Doctors ---*/
.doc-title{
  font-size:2.2em;
  font-weight: 800;
}
.doc-subtitle{
  font-size:20px;
  font-weight: 400;
}
.doc-marker{
  font-size:18px;
  font-weight: 500;
  line-height: 1em;
}
.Rectangle {
  background-color: rgb(239, 239, 239);
  height: 100%;
}
.Rounded_Rectangle {
border-radius: 10px;
background-color: rgb(239, 239, 239);
}
.Rounded_Rectangle_cons {
border-radius: 10px;
background-color: #4ab2b8;
}
.Rounded_Rectangle_hos {
  border-radius: 10px;
  background-image: -moz-linear-gradient( 6deg, rgb(37,134,145) 0%, rgb(50,172,186) 79%, rgb(50,172,186) 100%, rgb(117,190,181) 100%, rgb(25,144,158) 100%);
  background-image: -webkit-linear-gradient( 6deg, rgb(37,134,145) 0%, rgb(50,172,186) 79%, rgb(50,172,186) 100%, rgb(117,190,181) 100%, rgb(25,144,158) 100%);
  background-image: -ms-linear-gradient( 6deg, rgb(37,134,145) 0%, rgb(50,172,186) 79%, rgb(50,172,186) 100%, rgb(117,190,181) 100%, rgb(25,144,158) 100%);
}
.Rounded_Rectangle_tour {
border-radius: 6px;
background-color: #32acba;
font-size: 23px;
color: white;
}
.DocType {
  font-size: 18.613px;
  font-family: "Muli";
  color: rgb(38, 38, 38);
  line-height: 1.99;
}
.btn-view{
  color:white !important;
  font-weight: 600 !important;
  font-family: "Muli" !important;
  border:none !important;
  border-radius: 100px;
  background: linear-gradient(to right, #32acba , #76beb5) no-repeat;
}
/*-- Hospitals --*/
#Hospitals{
  background-color: #efefef;
}
.Rounded_Rectangle_hospitals {
border-radius: 10px;
background-color: white;
}
.hosp-text-lg{
  font-size: 30px;
    font-weight: 400;
  font-family: "Muli";
  color: rgb(38, 38, 38);
line-height: 1;
}
.hosp-text{
  font-size: 15px;
    font-weight: 400;
  font-family: "Muli";
  color: rgb(38, 38, 38);
line-height: 0.9;
}
.border-left-hos{
  border-left: 2px solid rgb(53, 108, 105);
  border-radius: 1px;
}
.card-mail{
  background-color: rgb(247, 247, 247);
}
.card-header{
  background-color: rgb(247, 247, 247);
  border: 1px solid black;
  border-width: 1.49px;
  border-color: rgb(215, 215, 215);
  font-family: "Muli";
  color: rgb(127, 127, 127);
}
.card-header-tourism{
  background-color: white;
  font-family: "Muli";
  color: rgb(127, 127, 127);
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  padding: 0rem ;
  margin-bottom: 0;
}
.nav-link-tourism{
  font-size: 20px ;
  font-family: "Muli";
    font-weight: 400;
}
.nav-link-tourism.active{


  font-size: 20px ;
  font-family: "Muli";
  color: #268c98 !important;

}
.nav-tabs{
  border: none;
}
.card-img-top{
  border-radius: 0px;
}
.card-tourism.card-body{

  background-color: white !important;
  border-width: 0.6px !important;
  border-color: rgb(215, 215, 215) !important;
  border-style: solid !important;
  border-radius: 0px !important;


}
.tourism-title{
  font-size: 20px;
  font-family: "Muli";
  color: rgb(0, 0, 0);
  font-weight: 500;
  line-height: 1.5;

}
.checkAvailibility {
  background-color: rgb(50, 172, 186);

}

.card-body-inbox{
  border-bottom: 1.49px solid rgb(215, 215, 215);
  border-left: 15px solid #35adba;
  border-right: 1.49px solid rgb(215, 215, 215);
}
.card-body-chat{
  border-bottom: 1.49px solid rgb(215, 215, 215);
  border-left: 1.49px solid rgb(215, 215, 215);
  border-right: 1.49px solid rgb(215, 215, 215);
}
.scroll-chatbox{
  overflow-x: hidden;
  height:60vh;
}

.card-text-inbox{
  font-family: "Muli";
  color: rgb(127, 127, 127);
}
.card-text-chat{
  font-family: "Muli";
  color: rgb(73, 73, 73);
  background-color: #efefef !important;
}
.inbox-active {
  text-align:right;
}
.card-text-chat.active{
  font-family: "Muli";
  color: white !important;
  font-weight: 100 !important;
  background-color: #37adba !important;
}
.inbox-title{
  font-family: "Muli";
  font-weight: 600;
  font-size: 20px;
}
.card-time-inbox{
  font-size: 15px;
  font-family: "Muli";
  color: rgb(127, 127, 127);
  font-style: italic;
}
.card-hos-text{
  font-size: 25px;
  font-weight: 800;
  font-family: "Muli";
  color: rgb(38, 38, 38);
  line-height: 1.99;
}
.card-doc-title{
  font-size: 40px;
font-weight: 800;
font-family: "Muli";
color: rgb(38, 38, 38);
}
.card-hos-title{
  font-size: 60px;
font-weight: 800;
font-family: "Muli";
color: rgb(38, 38, 38);
}
.card-hos-sub{
  font-size: 35px;
  font-weight: 400;
  font-family: "Muli";
  color: rgb(38, 38, 38);
}
.card-tour-title{
  font-size: 25px;
font-weight: 800;
font-family: "Muli";
color: rgb(38, 38, 38);
}
.button-hover{
position: absolute;
bottom:-30px;
right:-10px;
width:70px;
}
/*-- Find SPECIALIZATION ---*/
.grey-Back{
  background-color: #efefef;
}
.border-white-right{
  border-right:  2px solid white;
  border-top:  4px solid white;
}
.border-white-left{
  border-left:  2px solid white;
  border-top:  4px solid white;
}
.Specia-title {
  font-size: 20px;
  font-family: "Muli";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.5;
}
.Specia-Subtitle {
  font-size: 20px;
  font-family: "Muli";
  color: rgb(157, 157, 156);
  line-height: 1.8;
}
/* FontAwesome for working BootSnippet :> */
.card{
  border-radius: 10px;
  background-color: rgb(239, 239, 239);
  border:none;
}


.btn-read-hos:hover,
.btn-read-hos:focus {
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}
.btn-text{
  font-size: 15px;
  font-family: "Muli";
  color: rgb(38, 38, 38);
  line-height: 1;
}

.btn-read-hos{
  border-radius: 100px;
  border-color: #108d6f;
  box-shadow: none;
  background-color:rgb(239, 239, 239);
}
.btn-consult {
  border-radius: 100px;
  border-color: #31b571;
  box-shadow: none;
  background-color:rgb(239, 239, 239);
}
.btn-inbox{
  border-radius: 100px;
  border-width: 1.49px;
  border-color: rgb(57, 174, 186);
  border-style: solid;
  background-color:rgb(239, 239, 239);
}
.btn-inbox-text{
  font-size: 20px;
  font-family: "Muli";
  color: rgb(38, 38, 38);
  align-items: center;
  line-height: 1;
  font-weight: 100;
}
.btn-doc{
  color:white !important;
  font-weight: 100 !important;
  font-family: "Muli" !important;
  border:none !important;
  border-radius: 100px;
  background: linear-gradient(to right, #32acba , #76beb5) no-repeat;
}
.btn-hos{
  color:white !important;
  font-weight: 600 !important;
  font-family: "Muli" !important;
  border:none !important;
  border-radius: 10px;
  background: linear-gradient(to right, #32acba , #76beb5) no-repeat;
  height: 100%;
  align-items: center;
}
.btn-message{
  background-color: #37adba;
  border-radius: 0px;
  color: white;
}
section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
.card-footer{
  padding: 5px;
  background-color: inherit;
  border: 0.5px solid rgba(0,0,0,.125);
  border-radius: 90px;
  font-size: 20px;
  font-family: "Muli";
  color: #afa9a9;
}
.card-footer:last-child {
    border-radius:inherit;
}
.frontside .card,
.backside .card {
    min-height: 312px;
  
}
.cardwidth {
    min-height: 312px;
   width:360px;
}
.card-text{
  font-weight: 400;
  font-size: 17px;
  font-family: "Muli";
  color: rgb(38, 38, 38);
}
.card-text-active{
  color: rgb(71, 178, 185);
  font-weight:400;
  font-size: 17px;
  font-family: "Muli";
}
.card-width{
  width:360px;
}

.card-doc-active{
  color: rgb(71, 178, 185);
  font-weight:400;
  font-size: 25px;
  font-family: "Muli";
}
.frontside .card .card-title,
.backside .card .card-title {
font-size: 24px;
font-family: "Muli";
color: rgb(38, 38, 38);
font-weight: bold;
}
.frontside .card .card-body img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.round-image{
    
   
    border-radius: 50%;

}
.BorderDoc {
  border-top: 2px solid rgb(53, 108, 105);
  border-radius: 1px;
  width:35px;
}
.BorderDoc-active{
  border-top: 1px solid #258691;
  border-radius: 1px;
  width:35px;
}
.BorderDoc-active-detail{
  border-top: 1.5px solid #258691;
  border-radius: 1px;
  width:40px;
}
/* image hover button */
.container-hover {
    position: relative;
    width: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container-hover:hover .image {
  opacity: 1;
}
.container-hover:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgba(239, 239, 239, 0.7);;
  color:rgb(71, 178, 185);
  font-size: 14px;
  font-weight: 400;
  font-family: "Muli";
  padding: 6px 12px;
  border-radius: 24px;
}
/* images */
/* Copyright */
.copyright{
  background: linear-gradient(to right, #32acba , #76beb5) no-repeat !important;
  font-size: 15.347px;
  font-family: "Muli";
  color: rgb(255, 255, 255);

}
.copyright-grey{
  background: #eeeeee;
  font-size: 15.347px;
  font-family: "Muli";
  color: rgb(127, 127, 127);
  border :1px solid ;
  border-color: rgb(215, 215, 215) !important;
}
.navbar-toggler-white {
    border-color: white;
}
 .navbar-toggler-icon-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: black;
}
 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* carousel */
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #56b6b7;
}
.dot{
  width: 10px;
  height: 10px;
  background: #d6d6d6;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.dot.active {
  background: #56b6b7;
}

/*------Select -----*/

.styled-select {

  box-sizing: border-box;
  border-radius: 3px;

  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  background-color: white;
  height: 40px;
  padding: 5px 0 5px 5px;
  border: none;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

.msg-send{
 color:#b1d6d2!important;
}
.msg-received{
  color:#bbb!important;
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 35px !important;
  font-weight: 400 !important;
}
   input[type="radio"] {
    opacity: 0;
}
   
 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

@media (min-width:1440px){
  .nav-logo{
    width:250px;
  }
}
@media (min-width:720px){
  .nav-logo{
    width:250px;
  }
  .doc-inbox-icon{
     width:5%;
     border:2px solid white;
     z-index:1;
     position: relative;
   }
}
@media (max-width:569px){

   .doc-inbox-icon{
     width:15%;
   }
  .nav-logo{
    width:200px;
  }
    .border-left-hos {
      border:none;
  }
  .Fdoc-title {
      font-size: 3em;
      font-weight: 900;
  }
  .card-width{
    width: inherit;
  }
}
@media (max-width:369px){

  .card-width{
    width: 140%;
  }
   .cardwidth {
   width: 240px;
}
}
@media (min-width:370px) and (max-width:430px){

  .card-width{
    width: 125%;
  }
  .cardwidth {
   width: 250px;
}
}
