	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/09/2018 09:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-medal:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-patient:before { content: "\f102"; }
.flaticon-doctor:before { content: "\f103"; }
.flaticon-medical-drug-pill:before { content: "\f104"; }
.flaticon-airplane-flight-in-circle-around-earth:before { content: "\f105"; }
.flaticon-shopping-list:before { content: "\f106"; }
.flaticon-mail:before { content: "\f107"; }
.flaticon-mortarboard:before { content: "\f108"; }
.flaticon-hospital:before { content: "\f109"; }
.flaticon-gallery:before { content: "\f10a"; }
.flaticon-team:before { content: "\f10b"; }
.flaticon-phone-call:before { content: "\f10c"; }
.flaticon-nurse:before { content: "\f10d"; }
.flaticon-door:before { content: "\f10e"; }
.flaticon-bed:before { content: "\f10f"; }
.flaticon-wifi:before { content: "\f110"; }
.flaticon-cutlery:before { content: "\f111"; }
.flaticon-swimming-pool:before { content: "\f112"; }
.flaticon-coin:before { content: "\f113"; }
.flaticon-guests:before { content: "\f114"; }
.flaticon-bathtub:before { content: "\f115"; }